/** @format */

.custom-button-container {
    margin: 5px 10px;
  
    .custom-button {
      min-width: 130px;
      width: auto;
      height: 35px;
      font-size: 12px;
      color: white;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      border-radius: 20px;
    }
  
    .custom-button-submit {
      background-color: #ff6200;
  
      &:hover {
        background-color: white;
        color: #ff6200;
        border: 1px solid #ff6200;
        font-weight: bold;
      }
    }
  
    .custom-button-normal {
      background-color: #ff0000;
  
      &:hover {
        background-color: white;
        color: #ff0000;
        border: 1px solid #ff0000;
        font-weight: bold;
      }
    }
  
    .custom-button-disabled {
      background-color: #ffcf93;
      cursor: default;
    }
  }
  @media only screen and (max-width: 992px) {
    .custom-button-container {
      .custom-button {
        min-width: 70px;
      }
    }
  }
  